.outer-wrapper {
    max-width: 100vw;
    overflow-x: hidden;
}

.datatable-wrapper {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
    box-sizing: border-box;
}

lightning-datatable .slds-cell-wrap {
    white-space: normal !important;
    word-break: break-word !important;
}